/* Page index header*/
    /* Page index pour petit écran de moins de 480px
    Index page for small screen less than 480px  */
h1#header_max {
    display: none;
}

div#title_max {
    display: none;
}

h1#header_mini {
	max-width: 100%;
	height: 250px;    
    text-align:center;
    font-size: 2.2em;
    margin: 0% 0% 0%;
}

div#title_mini {    
    background-image: url("logo2_tdg_mini.ico");    
    background-position:top;
    background-position-y: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 20%;
}


    /* Page index header pour grand écran de plus de 481px 
    Index page for large screen over 481px */
@media all and (min-width: 481px) {
    h1#header_mini {
        display: none;
    }

    div#title_mini {
        display: none;
    }

    h1#header_max {
        display: block;
        max-width: 100%;
        height: 450px;    
        text-align:center;
        font-size: 5em;
    }
    div#title_max {
        display: block;
        background-image: url("logo2_tdg.png");    
        background-position:top;
        background-position-y: 5%;
        background-attachment: fixed;
        background-repeat: no-repeat;        
    }
}
/* page index */
body {    
    background-color: black;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 1.1em; 
}

ul#sect_menu {
    background-color: black;
    list-style: none;
    position: fixed;
    display: flex;
    justify-content: space-around;
    right: 1%;
    top: -2%;
    width: 100%; 
}

.menu {
    display: inline-block;
    flex-wrap: wrap;    
    text-align: center;
    margin-top: 1%;    
}

h1 a,p a,h2, h3, h4 {
    color:rgb(161, 133, 216);
}

a {
    text-decoration: none;
    color: seashell;
}

a:hover {
    color: orangered;
}

#sect_contenu, #sect_products, #detente, .element {
    margin-block-end: 5%;
}

div#sect_contenu {
    background-image: url("geek.jpg");
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    padding: 5%;
}

div#contenu {
    font-size: 1.2em;
    text-align: justify;
    color: seashell;
}

div#sect_products {
    background-image: url("hightech.jpg");
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    color: seashell;
    text-align:left;
    padding: 5%; 
}

div#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;     
}
/* Bordure animée pour les éléments dans la div products 
Animated border for elements in div products */
.element {
    width: 245px;
    height: 245px;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(255, 255, 255, 0.00);
    transition: all .4s ease;
}
.element:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.500);
}

div#detente {
    display: flex;
    justify-content: center;
    align-items: center;  
}

div#sect_footer {
    background-color: rgb(25, 26, 27);
    color: seashell;
    text-align:center;
    padding: 5%;
}

div#footer {    
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly; 
    align-items: center;  
    margin-left: 5%;    
}

/* page qui sommes nous */
#contenu {
    padding: 1%;
}
    /* Pour tout les formats de plus de 1024 px
    For all formats over 1024px  */
@media all and (min-width: 1024px) {
    div#retour_acceuil_big {    
        position: -webkit-sticky;
        position: sticky;
        top: 1%;    
    }
    div#retour_acceuil_mini {
        display:none;
    }
    div#qui_sommes_nous {
        margin-left: 14%;
        margin-right: 5%;
    }
}

    /* Petits Smartphones de moins de 1024px 
    Small smartphones less than 1024px */
@media all and (max-width: 1024px) {
    div#retour_acceuil_big {
        display: none;    
    }

    div#retour_acceuil_mini {    
        position: -webkit-sticky;
        position: sticky;
        top: 1%;    
    }
    div#qui_sommes_nous {
        margin-left: 8%;
        margin-right: 5%;
    }
}

/* page products */
div#products_element {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;     
}
